.hero {
    text-align: center;
    border: 1px solid red;
}
.hero_title, .hero_sub_title{
    margin: 0;
    padding: 0;
}
.hero_title{
    font-size: 3rem;
    margin-bottom: .5rem;
}
.hero_sub_title{
    font-size: 1.5rem;
}