.hero {
    text-align: center;
    margin-bottom: 4rem;
}
.hero_title, .hero_sub_title{
    margin: 0;
    padding: 0;
}
.hero_title{
    font-size: 2rem;
    margin-bottom: .5rem;
}
.hero_sub_title{
    font-size: 1.25rem;
    margin-bottom: .5rem;
}

.player_selection button {
    width: 7rem;
    margin: .5rem;
    font-size: 1rem;
    padding: .25rem;
}