.gameover{
    margin-top: 1rem;
    text-align: center;
}
.gameover_message{
    font-size: 1.25rem;
}
.reset_board{
    font-size: 1rem;
    padding: .5rem;
}

.reset_board:active {
    transform: scale(.92);
}